# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Compiled output
built/
dist/bundle.js
dist/Reflect.js
dist/styles.css
dist/zone.js

# Typescript typings
typings/
