h2 { color: #444; font-weight: lighter; }
body {
  background-color: #f9f9f9;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}
body, input[text],button {
  font-family:
  RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}
div{
  padding: 4px;
}
button {
  background-color: rgb(28, 184, 65);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  outline: none;
  border: none;
  color: rgb(255, 255, 255);
}
